In [ ]:
#https://www.tableau.com/sites/default/files/training/global_superstore.zip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_excel("global_superstore.xls") #Read data from an excel file

In [10]:
df.columns #List columns names

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [12]:
df.shape #get the dimensions of dataframe

(51290, 24)

In [16]:
df.describe() #summary statistics for numerical columns

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

In [18]:
df.dtypes #check data types of columns

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [20]:
df.isnull().sum() #check for null values

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [116]:
# Select and create a new DataFrame 'df_num' containing only numerical columns from 'df'
df_num = df.select_dtypes(include=[np.number])

# Select and create a new DataFrame 'df_cat' containing only categorical (object) columns from 'df'
df_cat = df.select_dtypes(include=['object'])

In [24]:
df_num.describe() #Display Summary Statistics for numerical Columns

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [30]:
df_cat.describe(include="all") #Summary statistics for all columns in df_cat

,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,4,1590,795,3,3636,1094,147,7,13,10292,3,17,3788,4
top,CA-2014-100111,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,Medium
freq,14,30775,97,108,26518,915,2001,9994,11002,11117,35,31273,6152,227,29433

In [ ]:
#IMPUTATIONS

In [32]:
df_num.isnull().sum().sort_values(ascending=False) #Check for missing values in each numerical column and sort them in descending order

Postal Code      41296
Row ID               0
Sales                0
Quantity             0
Discount             0
Profit               0
Shipping Cost        0
dtype: int64

In [36]:
df_cat.isnull().sum().sort_values(ascending=False) #Check for missing values in each categorical column and sort them in descending order

Order ID          0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Order Priority    0
dtype: int64

In [38]:
print(df_num['Postal Code'].mean()) #Calculate and print the mean of the 'Postal Code' column
print(df_num['Postal Code'].median()) ## Calculate and print the median of the 'Postal Code' column

55190.3794276566
56430.5

In [118]:
# Iterate over the list of columns to fill missing values
for col in ["Postal Code"]:
    # Fill missing values in the 'Postal Code' column with the median value of that column
    df_num[col].fillna(df_num[col].median(), inplace=True)
    # 'df_num[col].fillna(value, inplace=True)' replaces NaN with the specified value directly in the original DataFrame
    # 'df_num[col].median()' calculates the median value of the 'Postal Code' column
    # 'inplace=True' ensures that the changes are made directly in the original DataFrame

C:\Users\vaibh\AppData\Local\Temp\ipykernel_48932\1274838861.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_num[col].fillna(df_num[col].median(), inplace=True)

In [120]:
df_num.isnull().sum().sort_values(ascending=False) #Check for missing values in each numerical column and sort them in descending order

Row ID           0
Postal Code      0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping Cost    0
dtype: int64

In [ ]:
#Correlationship between numerical columns and numerical target

In [46]:
df_num_corr=df_num.corr() #Calculate the correlation matrix for the numerical DataFrame

In [48]:
df_num_corr["Shipping Cost"] #Display the correlation values of 'Shipping Cost' with other numerical columns

Row ID          -0.039076
Postal Code     -0.010795
Sales            0.768073
Quantity         0.272649
Discount        -0.079055
Profit           0.354441
Shipping Cost    1.000000
Name: Shipping Cost, dtype: float64

In [50]:
# Initialize an empty list to store the names of numerical columns
df_num_cols = []

# Extend the list with column names where the correlation with 'Shipping Cost' is greater than 0.3
df_num_cols.extend(df_num_corr[(df_num_corr["Shipping Cost"] > 0.3)].index.values)

# Extend the list with column names where the correlation with 'Shipping Cost' is less than -0.3
df_num_cols.extend(df_num_corr[(df_num_corr["Shipping Cost"] < -0.3)].index.values)

In [56]:
df_num_cols #Display the columns with strong correlation to 'Shipping Cost'

['Sales', 'Profit', 'Shipping Cost']

In [ ]:
#Correlationship between categorical columns and continous target variable using one way ANNOVA

In [58]:
from scipy.stats import f_oneway #Import the f_oneway function from the scipy.stats module

In [62]:
df_cat['sc']=df_num['Shipping Cost'] #Add a new column 'sc' to df_cat with values from the 'Shipping Cost' column in df_num

In [64]:
# Create groups of 'Shipping Cost' based on 'Order Priority' categories
groups = [df_cat['sc'][df_cat['Order Priority'] == category] for category in df_cat['Order Priority'].unique()]

# Perform ANOVA
f_stat, p_value = f_oneway(*groups)

#Display The Results
print(f"F-statistic: {f_stat}, P-value: {p_value}")

F-statistic: 728.2682583222323, P-value: 0.0

In [66]:
# Initialize empty lists to store column names
c_list = []
nc_list = []

# Iterate over each column in df_cat
for c1 in list(df_cat.columns):
    if c1 == 'sc':
        continue
    else:
        # Create groups of 'sc' values based on unique categories in the current column
        groups = [df_cat['sc'][df_cat[c1] == category] for category in df_cat[c1].unique()]
        
        # Perform ANOVA
        f_stat, p_value = f_oneway(*groups)
        
        # Print the results for the current column
        print(f"column: {c1}, F-statistic: {f_stat}, P-value: {p_value}")
        
        # Classify the column based on the p-value
        if p_value < 0.05:
            c_list.append(c1)  # Columns with significant differences
        else:
            nc_list.append(c1)  # Columns without significant differences

column : Order ID, F-statistic: 1.1508852209151073, P-value: 1.1484768357816765e-29
column : Ship Mode, F-statistic: 393.92528752905145, P-value: 5.3240110153517756e-253
column : Customer ID, F-statistic: 1.0410238622837424, P-value: 0.12843361313887533
column : Customer Name, F-statistic: 1.0580216670464024, P-value: 0.12682165839249232
column : Segment, F-statistic: 0.17978286397551554, P-value: 0.8354521248683504
column : City, F-statistic: 1.3689127246327235, P-value: 6.91061480036238e-42
column : State, F-statistic: 1.9804538097992874, P-value: 1.3472485154371034e-70
column : Country, F-statistic: 7.698295846906216, P-value: 1.5746983547701946e-148
column : Market, F-statistic: 97.96104603299906, P-value: 5.278005070444385e-123
column : Region, F-statistic: 45.031702526353655, P-value: 2.1707550389789433e-107
column : Product ID, F-statistic: 5.133263844493666, P-value: 0.0
column : Category, F-statistic: 2427.1241293148278, P-value: 0.0
column : Sub-Category, F-statistic: 671.7113087986611, P-value: 0.0
column : Product Name, F-statistic: 10.808361173927358, P-value: 0.0
column : Order Priority, F-statistic: 728.2682583222323, P-value: 0.0

In [79]:
c_list #Display the columns with significant differences in 'Shipping Cost'

['Order ID',
 'Ship Mode',
 'City',
 'State',
 'Country',
 'Market',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Order Priority']

In [80]:
nc_list #Display the columns without significant differences in 'Shipping Cost'

['Customer ID', 'Customer Name', 'Segment']

In [81]:
df_cat1=df_cat[c_list] #Create a new DataFrame 'df_cat1' with columns that have significant differences in 'Shipping Cost'

In [82]:
df_cat1.columns #list the df_cat1 columns

Index(['Order ID', 'Ship Mode', 'City', 'State', 'Country', 'Market', 'Region',
       'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Order Priority'],
      dtype='object')

In [83]:
df_cat1.head() #get first 5 rows

,Order ID,Ship Mode,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,CA-2012-124891,Same Day,New York City,New York,United States,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,Critical
1,IN-2013-77878,Second Class,Wollongong,New South Wales,Australia,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",Critical
2,IN-2013-71249,First Class,Brisbane,Queensland,Australia,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",Medium
3,ES-2013-1579342,First Class,Berlin,Berlin,Germany,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",Medium
4,SG-2013-4320,Same Day,Dakar,Dakar,Senegal,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",Critical

In [84]:
# Import LabelEncoder from sklearn for encoding categorical labels as numeric values
from sklearn.preprocessing import LabelEncoder

In [85]:
le=LabelEncoder() #Instantiate the LabelEncoder object for encoding categorical variables

In [86]:
df_cat1_e = df_cat1.apply(le.fit_transform) #Encode categorical variables in df_cat1

In [87]:
df_cat1_e.head() #Display the first 5 rows of df_cat1_e

,Order ID,Ship Mode,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,1499,1,2290,703,139,6,6,8246,2,0,2750,0
1,13063,2,3518,702,6,0,9,907,0,5,2525,0
2,12983,0,497,820,6,0,9,10157,2,13,2502,3
3,6813,0,375,145,47,4,3,10146,2,13,2414,3
4,21702,1,857,270,110,1,0,10249,2,6,3158,0

In [88]:
df_cat1.shape #Get the dimensions of df_cat1

(51290, 12)

In [ ]:
#Onehot encoding
#method1

In [100]:
# One-hot encode all categorical columns in df_cat1
df_encoded = pd.get_dummies(df_cat1, columns=df_cat1.columns)

In [101]:
# Get the dimensions of df_encoded
df_encoded.shape

(51290, 44040)

In [ ]:
#method2

In [104]:
# Import OneHotEncoder from sklearn for encoding categorical variables as one-hot vectors
from sklearn.preprocessing import OneHotEncoder

In [106]:
# Instantiate OneHotEncoder with dense output and ignore unknown categories
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

In [124]:
# One-hot encode the categorical variables in df_cat1
encoded_array = encoder.fit_transform(df_cat1)

# Convert the encoded array to a DataFrame with appropriate column names
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(df_cat1.columns))

In [122]:
# Get the dimensions of encoded_df
encoded_df.shape

(51290, 44040)

In [ ]:
#Outlier treatment IQR

In [126]:
#Function to remove outliers using the IQR method 
def remove_outliers_iqr(df, columns): 
    for col in columns: 
        Q1 = df[col].quantile(0.25) # First quartile (25th percentile) 
        Q3 = df[col].quantile(0.75) # Third quartile (75th percentile) 
        IQR = Q3 - Q1 # Interquartile range 
        lower_bound = Q1 - 1.5 * IQR # Lower bound 
        upper_bound = Q3 + 1.5 * IQR # Upper bound 
    
    #Filter out outliers based on IQR 
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)] 
    
    return df

In [130]:
# Define the columns to check for outliers
columns_to_check = ['Sales', 'Profit', 'Shipping Cost']

# Remove outliers from the specified columns in df_num
df_no_outliers = remove_outliers_iqr(df_num, columns_to_check)

# Print the dimensions of the original DataFrame
print("Original DataFrame:")
print(df_num.shape)

# Print the dimensions of the DataFrame after outlier treatment
print("\nDataFrame after Outlier Treatment:")
print(df_no_outliers.shape)

Original DataFrame:
(51290, 7)

DataFrame after Outlier Treatment:
(45381, 7)