In [1]:
import pandas as pd

In [ ]:
#https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction/data

In [6]:
df=pd.read_csv("C:\\Users\\JANARDHAN\\Documents\\Janardhan\\12Nov2024\\heart.csv")

In [22]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [7]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [8]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [18]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [10]:
import numpy as np
df_num=df.select_dtypes(include=[np.number])
df_cat=df.select_dtypes(include=['object'])

In [23]:
df_num.head()

   Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0   40        140          289          0    172      0.0             0
1   49        160          180          0    156      1.0             1
2   37        130          283          0     98      0.0             0
3   48        138          214          0    108      1.5             1
4   54        150          195          0    122      0.0             0

In [25]:
df_cat.head()

  Sex ChestPainType RestingECG ExerciseAngina ST_Slope  HeartDisease
0   M           ATA     Normal              N       Up             0
1   F           NAP     Normal              N     Flat             1
2   M           ATA         ST              N       Up             0
3   F           ASY     Normal              Y     Flat             1
4   M           NAP     Normal              N       Up             0

In [12]:
df_cat.columns

Index(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'], dtype='object')

In [13]:
df_cat['HeartDisease']=df_num['HeartDisease']

In [14]:
df_cat.columns

Index(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [15]:
from scipy.stats import chi2_contingency

In [19]:
chi2_results = {}
for col in ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']:
    contingency_table = pd.crosstab(df_cat[col], df_cat['HeartDisease'])
    chi2, p, dof, expected = chi2_contingency(contingency_table)
    chi2_results[col] = p

In [20]:
chi2_df = pd.DataFrame(list(chi2_results.items()), columns=['Feature', 'P-Value'])
chi2_df['Significant'] = chi2_df['P-Value'] < 0.05  # Mark significant relationships
print(chi2_df)

          Feature       P-Value  Significant
0             Sex  4.597617e-20         True
1   ChestPainType  8.083728e-58         True
2      RestingECG  4.229233e-03         True
3  ExerciseAngina  2.907808e-50         True
4        ST_Slope  5.167638e-78         True